@{
    ViewData["Title"] = "LLamada";
}
<!DOCTYPE html>

<html lang="en">
<head>
    
</head>

<body>
    @ViewBag.text <br /><br />
    @ViewBag.Respuesta <br /><br />
    @ViewBag.ID <br /><br />
    @ViewBag.json <br /><br />
    @ViewBag.data
</body>
</html>